body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.search-form {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.simple-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.search-button {
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 80px;
  height: 37px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.search-form {
  margin-top: 0;
  background-color: #00008b;
  padding-top: 20px;
  padding-bottom: 20px;
}

.load-more {
  background-color: #00008b;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 150px;
  height: 37px;
  margin: 50px auto 40px;
  color: #fff;
  font-size: 18px;
}

.info {
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f5f5f5;
}

.info-item {
  width: 50px;
  height: 50px;
  margin: 0 70px 0 20px;
  color: #000;
}

.sl-prev {
  position: fixed;
  top: 50%;
  left: 150px;
  color: black;
  width: 30px;
  height: 60px;
  border: 0 none;
  background: transparent;
  font-size: 3rem;
}

.sl-next {
  position: fixed;
  top: 50%;
  right: 150px;
  color: black;
  width: 30px;
  height: 60px;
  border: 0 none;
  background: transparent;
  font-size: 3rem;
}
.sl-close {
  position: fixed;
  top: 30px;
  right: 10px;
  font-family: Arial, Baskerville, monospace;
  color: #000;
  font-size: 3rem;
  border: 0 none;
  background: transparent;
}

.sl-counter {
  position: fixed;
  top: 50px;
  left: 20px;
  font-size: 1rem;
}
